---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Tag {
  name: string;
  class: string;
  icon?: string | AstroComponentFactory;
}

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
  tags?: Tag[];
}

const { title, company, description, date, tags = [] } = Astro.props;
---

<div
  class="relative mx-4 md:mx-12 pb-12 grid md:grid-cols-5 md:gap-10 before:absolute before:left-[-35px] before:top-0 before:h-full before:border-l before:border-dashed before:border-blue-900/30 dark:before:border-white/20 before:content-['']"
>
  <div class="relative pb-6 md:col-span-2">
    <div class="sticky top-0">
      <span
        class="absolute -left-[44px] text-xl md:text-2xl font-mono text-blue-900 dark:text-white animate-pulse select-none leading-none"
      >
        ▓
      </span>

      <h3
        class="text-xl font-mono font-bold tracking-widest text-blue-900 dark:text-white border-l-4 border-blue-800 dark:border-white pl-3 hover:text-blue-600 dark:hover:text-cyan-300 transition-colors duration-300"
      >
        {title}
      </h3>

      <h4
        class="text-md font-mono italic text-blue-800 dark:text-white/80 ml-1"
      >
        @{company}
      </h4>

      <time
        class="text-sm font-mono text-blue-700/80 dark:text-white/50 ml-1 mt-1 block"
      >
        {date}
      </time>
    </div>
  </div>

  <div
    class="relative flex flex-col gap-4 md:col-span-3 text-sm font-sans text-blue-900 dark:text-white bg-blue-50/20 dark:bg-white/5 p-5 rounded-2xl border border-blue-800/10 dark:border-white/10 shadow-md hover:shadow-xl transition-shadow duration-300"
  >
    <p class="leading-relaxed whitespace-pre-line">
      {description}
    </p>

    {
      tags.length > 0 && (
        <div class="pt-2 border-t border-blue-800/10 dark:border-white/10">
          <ul class="mt-3 flex flex-wrap gap-2">
            {tags.map((tag) => {
              const Icon = tag.icon;
              return (
                <li>
                  <span
                    class={`flex items-center gap-2 h-7 px-3 rounded-full text-xs font-medium shadow-sm border ${tag.class} transition duration-200 ease-in-out hover:scale-105`}
                  >
                    {Icon && <Icon class="w-4 h-4 shrink-0" />}
                    {tag.name}
                  </span>
                </li>
              );
            })}
          </ul>
        </div>
      )
    }
  </div>
</div>
